www/gsao/src/main/resources/xsd/monster-0.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.nawia.net/xsd/monster-0.0.1.xsd" targetNamespace="http://www.nawia.net/xsd/monster-0.0.1.xsd" elementFormDefault="qualified">
	<element name="monster">
		<complexType>
			<all>
				<element name="health" minOccurs="0">
					<complexType>
						<attribute name="now" type="integer" use="required"/>
						<attribute name="max" type="integer" use="required"/>
					</complexType>
				</element>
				<element name="parameters" minOccurs="0">
					<complexType>
						<sequence>
							<element name="parameter" maxOccurs="unbounded">
								<complexType>
									<attribute name="key" type="string"/>
									<attribute name="value" type="string"/>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="flags" minOccurs="0">
					<complexType>
						<sequence>
							<element name="flag" maxOccurs="unbounded">
								<complexType>
									<attribute name="summonable" type="boolean"/>
									<attribute name="attackable" type="boolean"/>
									<attribute name="hostile" type="boolean"/>
									<attribute name="illusionable" type="boolean"/>
									<attribute name="convinceable" type="boolean"/>
									<attribute name="pushable" type="boolean"/>
									<attribute name="canpushitems" type="boolean"/>
									<attribute name="canpushcreatures" type="boolean"/>
									<attribute name="staticattack">
										<simpleType>
											<restriction base="positiveInteger">
												<maxInclusive value="100"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="lightlevel" type="integer"/>
									<attribute name="lightcolor" type="integer"/>
									<attribute name="targetdistance">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="1"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="runonhealth" type="integer"/>
									<attribute name="hidehealth" type="boolean"/>
									<attribute name="lureable" type="boolean"/>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="targetchange">
					<complexType>
						<attribute name="interval">
							<!-- use="required" -->
							<simpleType>
								<restriction base="positiveInteger">
									<minInclusive value="1"/>
								</restriction>
							</simpleType>
						</attribute>
						<attribute name="speed">
							<annotation>
								<documentation>Deprecated, use interval instead. If both used,
									only last one is stored.</documentation>
							</annotation>
							<!-- FIXME: $interval ^ $speed -->
							<simpleType>
								<restriction base="positiveInteger">
									<minInclusive value="1"/>
								</restriction>
							</simpleType>
						</attribute>
						<attribute name="chance" type="integer" use="required"/>
					</complexType>
				</element>
				<element name="strategy">
					<annotation>
						<documentation>Deprecated.</documentation>
					</annotation>
					<complexType>
						<attribute name="attack" type="integer">
							<annotation>
								<documentation>Deprecated.</documentation>
							</annotation>
						</attribute>
						<attribute name="defense" type="integer">
							<annotation>
								<documentation>Deprecated.</documentation>
							</annotation>
						</attribute>
					</complexType>
				</element>
				<element name="look">
					<complexType>
						<attribute name="type" type="integer">
							<annotation>
								<documentation>If type is used, You need to fill head, body,
									legs, feet and addons. You cannot use typeex (use type OR
									typeex, not both).</documentation>
							</annotation>
						</attribute>
						<attribute name="head" type="integer"/>
						<attribute name="body" type="integer"/>
						<attribute name="legs" type="integer"/>
						<attribute name="feet" type="integer"/>
						<attribute name="addons" type="integer"/>
						<attribute name="typeex" type="integer">
							<annotation>
								<documentation>If typeex used, you cannot use type.
								</documentation>
							</annotation>
						</attribute>
						<attribute name="corpse" type="short"/>
						<!-- FIXME: if ($type) use="required" -->
						<!-- FIXME: if ($type) use="required" -->
						<!-- FIXME: if ($type) use="required" -->
						<!-- FIXME: if ($type) use="required" -->
						<!-- FIXME: if ($type) use="required" -->
						<!-- FIXME: $type ^ $typeex -->
					</complexType>
				</element>
				<element name="attacks" minOccurs="0">
					<complexType>
						<sequence>
							<element name="attack" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="parameter" maxOccurs="unbounded">
											<complexType>
												<attribute name="key" type="string"/>
												<attribute name="value" type="string"/>
											</complexType>
										</element>
										<element name="attribute" maxOccurs="unbounded">
											<complexType>
												<attribute name="key">
													<simpleType>
														<restriction base="string">
															<enumeration value="shooteffect"/>
															<enumeration value="areaeffect"/>
														</restriction>
													</simpleType>
												</attribute>
												<attribute name="value">
													<simpleType>
														<restriction base="string">
															<enumeration value="spear"/>
															<enumeration value="bolt"/>
															<enumeration value="arrow"/>
															<enumeration value="fire"/>
															<enumeration value="energy"/>
															<enumeration value="poisonarrow"/>
															<enumeration value="burstarrow"/>
															<enumeration value="throwingstar"/>
															<enumeration value="throwingknife"/>
															<enumeration value="smallstone"/>
															<enumeration value="death"/>
															<enumeration value="largerock"/>
															<enumeration value="snowball"/>
															<enumeration value="powerbolt"/>
															<enumeration value="poison"/>
															<enumeration value="infernalbolt"/>
															<enumeration value="huntingspear"/>
															<enumeration value="enchantedspear"/>
															<enumeration value="redstar"/>
															<enumeration value="greenstar"/>
															<enumeration value="royalspear"/>
															<enumeration value="sniperarrow"/>
															<enumeration value="onyxarrow"/>
															<enumeration value="piercingbolt"/>
															<enumeration value="whirlwindsword"/>
															<enumeration value="whirlwindaxe"/>
															<enumeration value="whirlwindclub"/>
															<enumeration value="etherealspear"/>
															<enumeration value="ice"/>
															<enumeration value="earth"/>
															<enumeration value="holy"/>
															<enumeration value="suddendeath"/>
															<enumeration value="flasharrow"/>
															<enumeration value="flammingarrow"/>
															<enumeration value="shiverarrow"/>
															<enumeration value="energyball"/>
															<enumeration value="smallice"/>
															<enumeration value="smallholy"/>
															<enumeration value="smallearth"/>
															<enumeration value="eartharrow"/>
															<enumeration value="explosion"/>
															<enumeration value="cake"/>
															<enumeration value="redspark"/>
															<enumeration value="bluebubble"/>
															<enumeration value="poff"/>
															<enumeration value="yellowspark"/>
															<enumeration value="explosionarea"/>
															<enumeration value="explosion"/>
															<enumeration value="firearea"/>
															<enumeration value="yellowbubble"/>
															<enumeration value="greenbubble"/>
															<enumeration value="blackspark"/>
															<enumeration value="teleport"/>
															<enumeration value="energy"/>
															<enumeration value="blueshimmer"/>
															<enumeration value="redshimmer"/>
															<enumeration value="greenshimmer"/>
															<enumeration value="fire"/>
															<enumeration value="greenspark"/>
															<enumeration value="mortarea"/>
															<enumeration value="greennote"/>
															<enumeration value="rednote"/>
															<enumeration value="poison"/>
															<enumeration value="yellownote"/>
															<enumeration value="purplenote"/>
															<enumeration value="bluenote"/>
															<enumeration value="whitenote"/>
															<enumeration value="bubbles"/>
															<enumeration value="dice"/>
															<enumeration value="giftwraps"/>
															<enumeration value="yellowfirework"/>
															<enumeration value="redfirework"/>
															<enumeration value="bluefirework"/>
															<enumeration value="stun"/>
															<enumeration value="sleep"/>
															<enumeration value="watercreature"/>
															<enumeration value="groundshaker"/>
															<enumeration value="hearts"/>
															<enumeration value="fireattack"/>
															<enumeration value="energyarea"/>
															<enumeration value="smallclouds"/>
															<enumeration value="holydamage"/>
															<enumeration value="bigclouds"/>
															<enumeration value="icearea"/>
															<enumeration value="icetornado"/>
															<enumeration value="iceattack"/>
															<enumeration value="stones"/>
															<enumeration value="smallplants"/>
															<enumeration value="carniphila"/>
															<enumeration value="purpleenergy"/>
															<enumeration value="yellowenergy"/>
															<enumeration value="holyarea"/>
															<enumeration value="bigplants"/>
															<enumeration value="cake"/>
															<enumeration value="giantice"/>
															<enumeration value="watersplash"/>
															<enumeration value="plantattack"/>
															<enumeration value="tutorialarrow"/>
															<enumeration value="tutorialsquare"/>
															<enumeration value="mirrorhorizontal"/>
															<enumeration value="mirrorvertical"/>
															<enumeration value="skullhorizontal"/>
															<enumeration value="skullvertical"/>
															<enumeration value="assassin"/>
															<enumeration value="stepshorizontal"/>
															<enumeration value="bloodysteps"/>
															<enumeration value="stepsvertical"/>
															<enumeration value="yalaharighost"/>
															<enumeration value="bats"/>
															<enumeration value="smoke"/>
															<enumeration value="insects"/>
															<enumeration value="dragonhead"/>
															<!-- shootTypeNames -->
															<!-- magicEffectNames -->
														</restriction>
													</simpleType>
												</attribute>
											</complexType>
										</element>
									</sequence>
									<attribute name="script" type="string">
										<annotation>
											<documentation>If 'script' is used, you CAN use 'direction'
												and you CANNOT use 'length', 'spread', 'radius'.
											</documentation>
										</annotation>
									</attribute>
									<attribute name="name" use="required">
										<simpleType>
											<restriction base="string">
												<enumeration value="melee">
													<annotation>
														<documentation>If 'melee' is used, You CAN use 'attack',
															'fire', 'poison', 'energy', 'drown', 'freeze', 'dazzle',
															'curse' and 'tick'.
														</documentation>
													</annotation>
												</enumeration>
												<enumeration value="physical"/>
												<enumeration value="poison"/>
												<enumeration value="fire"/>
												<enumeration value="energy"/>
												<enumeration value="drown"/>
												<enumeration value="ice"/>
												<enumeration value="holy"/>
												<enumeration value="death"/>
												<enumeration value="lifedrain"/>
												<enumeration value="manadrain"/>
												<enumeration value="healing"/>
												<enumeration value="speed">
													<annotation>
														<documentation>If 'speed is used, you CAN use
															'speedchange'.</documentation>
													</annotation>
												</enumeration>
												<enumeration value="outfit">
													<annotation>
														<documentation>If 'outfit' is used, you CAN use 'monster'
															OR 'item'</documentation>
													</annotation>
												</enumeration>
												<enumeration value="invisible"/>
												<enumeration value="drunk"/>
												<enumeration value="firefield"/>
												<enumeration value="poisonfield"/>
												<enumeration value="energyfield"/>
												<enumeration value="firecondition"/>
												<enumeration value="poisoncondition"/>
												<enumeration value="energycondition"/>
												<enumeration value="drowncondition"/>
												<!-- <enumeration value="strength" /> -->
												<!-- <enumeration value="effect" /> -->
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="interval">
										<!-- use="required" -->
										<simpleType>
											<restriction base="positiveInteger">
												<minInclusive value="1"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="speed">
										<annotation>
											<documentation>Deprecated, use interval instead. If both
												used,
												only last one is stored.</documentation>
										</annotation>
										<!-- FIXME: $interval ^ $speed -->
										<simpleType>
											<restriction base="positiveInteger">
												<minInclusive value="1"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="chance">
										<simpleType>
											<restriction base="positiveInteger">
												<maxInclusive value="100"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="range" type="positiveInteger"/>
									<attribute name="min" type="integer"/>
									<attribute name="max" type="integer"/>
									<attribute name="target" type="boolean"/>
									<attribute name="direction" type="boolean"/>
									<attribute name="length" type="integer"/>
									<attribute name="spread" type="positiveInteger"/>
									<attribute name="radius" type="integer"/>
									<attribute name="attack" type="integer">
										<annotation>
											<documentation>If 'attack' is used, you CAN use 'skill'
											</documentation>
										</annotation>
									</attribute>
									<attribute name="skill" type="integer">
										<annotation>
											<documentation>Skill ID</documentation>
										</annotation>
									</attribute>
									<attribute name="fire" type="integer"/>
									<attribute name="poison" type="integer"/>
									<attribute name="energy" type="integer"/>
									<attribute name="drown" type="integer"/>
									<attribute name="freeze" type="integer"/>
									<attribute name="dazzle" type="integer"/>
									<attribute name="curse" type="integer"/>
									<attribute name="tick">
										<simpleType>
											<restriction base="integer">
												<minExclusive value="0"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="duration" type="integer"/>
									<attribute name="speedchange">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="-1000"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="monster" type="string"/>
									<attribute name="item" type="integer">
										<annotation>
											<documentation>lookTypeEx ID</documentation>
										</annotation>
									</attribute>
									<attribute name="start" type="integer"/>
									<!-- if $script -->
									<!-- else $script -->
									<!-- if $melee -->
									<!-- if $attack -->
									<!-- endif $attack -->
									<!-- endif $melee -->
									<!-- if $speed -->
									<!-- endif $speed -->
									<!-- if $outfit -->
									<!-- endif $outfit -->
									<!-- if $($element)condition; tick > 0 -->
									<!-- endif $($element)condition -->
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="defenses" minOccurs="0">
					<complexType>
						<sequence>
							<element name="defense" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="parameter" maxOccurs="unbounded">
											<complexType>
												<attribute name="key" type="string"/>
												<attribute name="value" type="string"/>
											</complexType>
										</element>
										<element name="attribute" maxOccurs="unbounded">
											<complexType>
												<attribute name="key">
													<simpleType>
														<restriction base="string">
															<enumeration value="shooteffect"/>
															<enumeration value="areaeffect"/>
														</restriction>
													</simpleType>
												</attribute>
												<attribute name="value">
													<simpleType>
														<restriction base="string">
															<enumeration value="spear"/>
															<enumeration value="bolt"/>
															<enumeration value="arrow"/>
															<enumeration value="fire"/>
															<enumeration value="energy"/>
															<enumeration value="poisonarrow"/>
															<enumeration value="burstarrow"/>
															<enumeration value="throwingstar"/>
															<enumeration value="throwingknife"/>
															<enumeration value="smallstone"/>
															<enumeration value="death"/>
															<enumeration value="largerock"/>
															<enumeration value="snowball"/>
															<enumeration value="powerbolt"/>
															<enumeration value="poison"/>
															<enumeration value="infernalbolt"/>
															<enumeration value="huntingspear"/>
															<enumeration value="enchantedspear"/>
															<enumeration value="redstar"/>
															<enumeration value="greenstar"/>
															<enumeration value="royalspear"/>
															<enumeration value="sniperarrow"/>
															<enumeration value="onyxarrow"/>
															<enumeration value="piercingbolt"/>
															<enumeration value="whirlwindsword"/>
															<enumeration value="whirlwind"/>
															<enumeration value="whirlwindclub"/>
															<enumeration value="etherealspear"/>
															<enumeration value="ice"/>
															<enumeration value="earth"/>
															<enumeration value="holy"/>
															<enumeration value="suddendeath"/>
															<enumeration value="flasharrow"/>
															<enumeration value="flammingarrow"/>
															<enumeration value="shiverarrow"/>
															<enumeration value="energyball"/>
															<enumeration value="smallice"/>
															<enumeration value="smallholy"/>
															<enumeration value="smallearth"/>
															<enumeration value="eartharrow"/>
															<enumeration value="explosion"/>
															<enumeration value="cake"/>
															<enumeration value="redspark"/>
															<enumeration value="bluebubble"/>
															<enumeration value="poff"/>
															<enumeration value="yellowspark"/>
															<enumeration value="explosionarea"/>
															<enumeration value="explosion"/>
															<enumeration value="firearea"/>
															<enumeration value="yellowbubble"/>
															<enumeration value="greenbubble"/>
															<enumeration value="blackspark"/>
															<enumeration value="teleport"/>
															<enumeration value="energy"/>
															<enumeration value="blueshimmer"/>
															<enumeration value="redshimmer"/>
															<enumeration value="greenshimmer"/>
															<enumeration value="fire"/>
															<enumeration value="greenspark"/>
															<enumeration value="mortarea"/>
															<enumeration value="greennote"/>
															<enumeration value="rednote"/>
															<enumeration value="poison"/>
															<enumeration value="yellownote"/>
															<enumeration value="purplenote"/>
															<enumeration value="bluenote"/>
															<enumeration value="whitenote"/>
															<enumeration value="bubbles"/>
															<enumeration value="dice"/>
															<enumeration value="giftwraps"/>
															<enumeration value="yellowfirework"/>
															<enumeration value="redfirework"/>
															<enumeration value="bluefirework"/>
															<enumeration value="stun"/>
															<enumeration value="sleep"/>
															<enumeration value="watercreature"/>
															<enumeration value="groundshaker"/>
															<enumeration value="hearts"/>
															<enumeration value="fireattack"/>
															<enumeration value="energyarea"/>
															<enumeration value="smallclouds"/>
															<enumeration value="holydamage"/>
															<enumeration value="bigclouds"/>
															<enumeration value="icearea"/>
															<enumeration value="icetornado"/>
															<enumeration value="iceattack"/>
															<enumeration value="stones"/>
															<enumeration value="smallplants"/>
															<enumeration value="carniphila"/>
															<enumeration value="purpleenergy"/>
															<enumeration value="yellowenergy"/>
															<enumeration value="holyarea"/>
															<enumeration value="bigplants"/>
															<enumeration value="cake"/>
															<enumeration value="giantice"/>
															<enumeration value="watersplash"/>
															<enumeration value="plantattack"/>
															<enumeration value="tutorialarrow"/>
															<enumeration value="tutorialsquare"/>
															<enumeration value="mirrorhorizontal"/>
															<enumeration value="mirrorvertical"/>
															<enumeration value="skullhorizontal"/>
															<enumeration value="skullvertical"/>
															<enumeration value="assassin"/>
															<enumeration value="stepshorizontal"/>
															<enumeration value="bloodysteps"/>
															<enumeration value="stepsvertical"/>
															<enumeration value="yalaharighost"/>
															<enumeration value="bats"/>
															<enumeration value="smoke"/>
															<enumeration value="insects"/>
															<enumeration value="dragonhead"/>
															<!-- shootTypeNames -->
															<!-- magicEffectNames -->
														</restriction>
													</simpleType>
												</attribute>
											</complexType>
										</element>
									</sequence>
									<attribute name="script" type="string">
										<annotation>
											<documentation>If 'script' is used, you CAN use 'direction'
												and you CANNOT use 'length', 'spread', 'radius'.
											</documentation>
										</annotation>
									</attribute>
									<attribute name="name" use="required">
										<simpleType>
											<restriction base="string">
												<enumeration value="melee">
													<annotation>
														<documentation>If 'melee' is used, You CAN use 'attack',
															'fire', 'poison', 'energy', 'drown', 'freeze', 'dazzle',
															'curse' and 'tick'.
														</documentation>
													</annotation>
												</enumeration>
												<enumeration value="physical"/>
												<enumeration value="poison"/>
												<enumeration value="fire"/>
												<enumeration value="energy"/>
												<enumeration value="drown"/>
												<enumeration value="ice"/>
												<enumeration value="holy"/>
												<enumeration value="death"/>
												<enumeration value="lifedrain"/>
												<enumeration value="manadrain"/>
												<enumeration value="healing"/>
												<enumeration value="speed">
													<annotation>
														<documentation>If 'speed is used, you CAN use
															'speedchange'.</documentation>
													</annotation>
												</enumeration>
												<enumeration value="outfit">
													<annotation>
														<documentation>If 'outfit' is used, you CAN use 'monster'
															OR 'item'</documentation>
													</annotation>
												</enumeration>
												<enumeration value="invisible"/>
												<enumeration value="drunk"/>
												<enumeration value="firefield"/>
												<enumeration value="poisonfield"/>
												<enumeration value="energyfield"/>
												<enumeration value="firecondition"/>
												<enumeration value="poisoncondition"/>
												<enumeration value="energycondition"/>
												<enumeration value="drowncondition"/>
												<!-- <enumeration value="strength" /> -->
												<!-- <enumeration value="effect" /> -->
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="interval">
										<!-- use="required" -->
										<simpleType>
											<restriction base="positiveInteger">
												<minInclusive value="1"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="speed">
										<annotation>
											<documentation>Deprecated, use interval instead. If both
												used,
												only last one is stored.</documentation>
										</annotation>
										<!-- FIXME: $interval ^ $speed -->
										<simpleType>
											<restriction base="positiveInteger">
												<minInclusive value="1"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="chance">
										<simpleType>
											<restriction base="positiveInteger">
												<maxInclusive value="100"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="range" type="positiveInteger"/>
									<attribute name="min" type="integer"/>
									<attribute name="max" type="integer"/>
									<attribute name="target" type="boolean"/>
									<attribute name="direction" type="boolean"/>
									<attribute name="length" type="integer"/>
									<attribute name="spread" type="positiveInteger"/>
									<attribute name="radius" type="integer"/>
									<attribute name="attack" type="integer">
										<annotation>
											<documentation>If 'attack' is used, you CAN use 'skill'
											</documentation>
										</annotation>
									</attribute>
									<attribute name="skill" type="integer">
										<annotation>
											<documentation>Skill ID</documentation>
										</annotation>
									</attribute>
									<attribute name="fire" type="integer"/>
									<attribute name="poison" type="integer"/>
									<attribute name="energy" type="integer"/>
									<attribute name="drown" type="integer"/>
									<attribute name="freeze" type="integer"/>
									<attribute name="dazzle" type="integer"/>
									<attribute name="curse" type="integer"/>
									<attribute name="tick">
										<simpleType>
											<restriction base="integer">
												<minExclusive value="0"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="duration" type="integer"/>
									<attribute name="speedchange">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="-1000"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="monster" type="string"/>
									<attribute name="item" type="integer">
										<annotation>
											<documentation>lookTypeEx ID</documentation>
										</annotation>
									</attribute>
									<attribute name="start" type="integer"/>
									<!-- if $script -->
									<!-- else $script -->
									<!-- if $melee -->
									<!-- if $attack -->
									<!-- endif $attack -->
									<!-- endif $melee -->
									<!-- if $speed -->
									<!-- endif $speed -->
									<!-- if $outfit -->
									<!-- endif $outfit -->
									<!-- if $($element)condition; tick > 0 -->
									<!-- endif $($element)condition -->
								</complexType>
							</element>
						</sequence>
						<attribute name="defense" type="integer"/>
						<attribute name="armor" type="integer"/>
					</complexType>
				</element>
				<element name="immunities" minOccurs="0">
					<complexType>
						<sequence>
							<element name="immunity" maxOccurs="unbounded">
								<complexType>
									<attribute name="name">
										<simpleType>
											<restriction base="string">
												<enumeration value="physical"/>
												<enumeration value="energy"/>
												<enumeration value="fire"/>
												<enumeration value="poison"/>
												<enumeration value="drown"/>
												<enumeration value="ice"/>
												<enumeration value="holy"/>
												<enumeration value="death"/>
												<enumeration value="lifedrain"/>
												<enumeration value="paralyze"/>
												<enumeration value="outfit"/>
												<enumeration value="drunk"/>
												<enumeration value="invisible"/>
												<!-- TODO: old immunities -->
											</restriction>
										</simpleType>
									</attribute>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="voices">
					<complexType>
						<sequence>
							<element name="voice" maxOccurs="unbounded">
								<complexType>
									<attribute name="sentence" type="string" use="required"/>
									<attribute name="yell" type="boolean"/>
								</complexType>
							</element>
						</sequence>
						<attribute name="interval">
							<!-- use="required" -->
							<simpleType>
								<restriction base="positiveInteger">
									<minInclusive value="1"/>
								</restriction>
							</simpleType>
						</attribute>
						<attribute name="speed">
							<annotation>
								<documentation>Deprecated, use interval instead. If both used,
									only last one is stored.</documentation>
							</annotation>
							<!-- FIXME: $interval ^ $speed -->
							<simpleType>
								<restriction base="positiveInteger">
									<minInclusive value="1"/>
								</restriction>
							</simpleType>
						</attribute>
						<attribute name="chance" type="integer"/>
					</complexType>
				</element>
				<element name="loot">
					<complexType>
						<sequence>
							<element name="inside">
								<annotation>
									<documentation>Use, if item is a container, and place 'loot'
										elements inside.</documentation>
								</annotation>
								<complexType>
									<sequence>
										<any minOccurs="0"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
						<attribute name="id" type="integer">
							<annotation>
								<documentation>Item ID</documentation>
							</annotation>
						</attribute>
						<attribute name="countmax">
							<simpleType>
								<restriction base="integer">
									<minExclusive value="0"/>
								</restriction>
							</simpleType>
						</attribute>
						<attribute name="chance" type="integer"/>
						<attribute name="chance1" type="integer"/>
						<attribute name="subtype" type="integer"/>
						<attribute name="actionid" type="integer"/>
						<attribute name="text" type="string"/>
						<attribute name="dropempty" type="boolean"/>
						<!-- TODO: MAX_LOOTCHANCE -->
						<!-- TODO: MAX_LOOTCHANCE -->
					</complexType>
				</element>
				<element name="elements">
					<complexType>
						<sequence>
							<element name="element" maxOccurs="unbounded">
								<complexType>
									<attribute name="physicalPercent" type="integer"/>
									<attribute name="icePercent" type="integer"/>
									<attribute name="earthPercent" type="integer"/>
									<attribute name="firePercent" type="integer"/>
									<attribute name="energyPercent" type="integer"/>
									<attribute name="holyPercent" type="integer"/>
									<attribute name="deathPercent" type="integer"/>
									<attribute name="drownPercent" type="integer"/>
									<attribute name="lifeDrainPercent" type="integer"/>
									<attribute name="manaDrainPercent" type="integer"/>
									<attribute name="healingPercent" type="integer"/>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="summons">
					<complexType>
						<sequence>
							<element name="summon" maxOccurs="unbounded">
								<annotation>
									<documentation>Maximum number of summons (every kind summed up)
										up to maxSummons attribute
									</documentation>
								</annotation>
								<!-- ref=maxSummons -->
								<complexType>
									<attribute name="max" type="integer"/>
									<attribute name="interval">
										<!-- use="required" -->
										<simpleType>
											<restriction base="positiveInteger">
												<minInclusive value="1"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="speed">
										<annotation>
											<documentation>Deprecated, use interval instead. If both
												used,
												only last one is stored.</documentation>
										</annotation>
										<!-- FIXME: $interval ^ $speed -->
										<simpleType>
											<restriction base="positiveInteger">
												<minInclusive value="1"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="chance" type="integer"/>
									<attribute name="name" type="string" use="required"/>
								</complexType>
							</element>
						</sequence>
						<attribute name="maxSummons" use="required">
							<simpleType>
								<restriction base="positiveInteger">
									<maxInclusive value="100"/>
								</restriction>
							</simpleType>
						</attribute>
					</complexType>
				</element>
				<element name="script">
					<complexType>
						<sequence>
							<element name="event">
								<complexType>
									<attribute name="name" use="required"/>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</all>
			<attribute name="name" type="string" use="required"/>
			<attribute name="nameDescription" type="string"/>
			<attribute name="race">
				<simpleType>
					<union>
						<simpleType>
							<restriction base="string">
								<enumeration value="venom"/>
								<enumeration value="blood"/>
								<enumeration value="undead"/>
								<enumeration value="fire"/>
								<enumeration value="energy"/>
							</restriction>
						</simpleType>
						<simpleType>
							<restriction base="integer">
								<pattern value="[1-5]"/>
							</restriction>
						</simpleType>
					</union>
				</simpleType>
			</attribute>
			<attribute name="experience" type="integer"/>
			<attribute name="speed" type="integer"/>
			<attribute name="manacost" type="integer"/>
		</complexType>
	</element>
</schema>
