www/gsao/src/main/resources/xsd/monsters-0.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.nawia.net/xsd/monsters-0.0.1.xsd"
	xmlns:tns="http://www.nawia.net/xsd/monsters-0.0.1.xsd"
	elementFormDefault="qualified">

	<element name="monsters">
		<complexType>
			<sequence minOccurs="0" maxOccurs="unbounded">
				<element name="monster">
					<complexType>
						<attribute name="name" type="string" />
						<attribute name="file" type="string" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

</schema>